* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow: hidden;
}
#canvas {
	position: absolute;
	top: 0;
	left: 0;
}

img {
	display: none;
}
#btnFullScreen {
	background-color: white;
	border: 2px solid pink;
	font-size: 16px;
	padding: 10px 20px;
	position: absolute;
	z-index: 2;
	bottom: 50px;
	right: 5px;
	display: inline-block;
}

#loadingTag {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 50px
}
